# Python Interview Questions

1. Check whether the string is palindrome or not:

In [16]:
def is_palindrome(s):
    return s == s[::-1]

In [17]:
is_palindrome("hello")

False

In [18]:
is_palindrome("level")

True

2. Given two arrays, write a python function to return the intersection of the two? For example, X = [1,5,9,0] and Y = [3,0,2,9] it should return [9,0]

In [20]:
X = [1,5,9,0]
Y = [3,0,2,9]

In [22]:
set(X).intersection(set(Y))

{0, 9}

3. Given an array, remove all the duplicates from this array? For example: input: [1,2,3,1,3,6,5]

In [28]:
input = [1,2,3,1,3,6,5,1,2,4]
result = []
for i in input:
    if i not in result:
        result.append(i)
print(result)

[1, 2, 3, 6, 5, 4]

4. Write a function to find factorial of numbers

In [29]:
def factorial(n):
    if n==0 or n==1 :
        return 1
    else: 
        return n*factorial(n-1)

In [30]:
factorial(5)

120

5. Find the sum of all the elements

In [64]:
lst = [1,2,4,5,1,8]

In [65]:
sum = 0
for i in range(0,len(lst)):
    sum = sum + lst[i]
print(sum)

21

6. Check whether the number in the list is prime or not!

In [80]:
def is_prime(number):
    if number <= 1:
        return False 
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False  
    return True

In [81]:
is_prime(51)

False

7. Given a list of integers, create a new list with the strings "even" or "odd" corresponding to each integer using list comprehension.

In [85]:
# find even and odd in the list of 20 numbers.
['even' if i%2==0 else 'odd' for i in range(0,20) ]

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

8. Given a string, create a list containing only the vowels from the string using list comprehension.

In [89]:
#Given string
input_string = "hello world, this is tanya"

# check is char is vowel and create a vowel list
vowels_list = [char for char in input_string if char.lower() in 'aeiou']

#print the result
print(vowels_list)

['e', 'o', 'o', 'i', 'i', 'a', 'a']

9. Given a string, create a dictionary by counting characters in a string.

In [90]:
# Given string
input_string = "hello world"

# Count characters and create a dictionary
char_count_dict = {char: input_string.count(char) for char in set(input_string)}

# Print the result
print(char_count_dict)

{'h': 1, 'w': 1, 'l': 3, ' ': 1, 'o': 2, 'd': 1, 'r': 1, 'e': 1}

10. write a program in python to create pairs of teams in such a way that each team plays against every other team exactly once.

In [92]:
def generate_match_schedule(teams):
    match_schedule = []

    for i in range(len(teams)):
        for j in range(i + 1, len(teams)):
            match_schedule.append((teams[i], teams[j]))

    return match_schedule

In [93]:
teams_in_ipl = ['Team1', 'Team2', 'Team3', 'Team4', 'Team5', 'Team6', 'Team7', 'Team8', 'Team9', 'Team10']
match_schedule = generate_match_schedule(teams_in_ipl)

# Print the match schedule
for match_pair in match_schedule:
    print(match_pair)

('Team1', 'Team2')
('Team1', 'Team3')
('Team1', 'Team4')
('Team1', 'Team5')
('Team1', 'Team6')
('Team1', 'Team7')
('Team1', 'Team8')
('Team1', 'Team9')
('Team1', 'Team10')
('Team2', 'Team3')
('Team2', 'Team4')
('Team2', 'Team5')
('Team2', 'Team6')
('Team2', 'Team7')
('Team2', 'Team8')
('Team2', 'Team9')
('Team2', 'Team10')
('Team3', 'Team4')
('Team3', 'Team5')
('Team3', 'Team6')
('Team3', 'Team7')
('Team3', 'Team8')
('Team3', 'Team9')
('Team3', 'Team10')
('Team4', 'Team5')
('Team4', 'Team6')
('Team4', 'Team7')
('Team4', 'Team8')
('Team4', 'Team9')
('Team4', 'Team10')
('Team5', 'Team6')
('Team5', 'Team7')
('Team5', 'Team8')
('Team5', 'Team9')
('Team5', 'Team10')
('Team6', 'Team7')
('Team6', 'Team8')
('Team6', 'Team9')
('Team6', 'Team10')
('Team7', 'Team8')
('Team7', 'Team9')
('Team7', 'Team10')
('Team8', 'Team9')
('Team8', 'Team10')
('Team9', 'Team10')